answer 1

In [59]:
# for loop 

l=[1,2,3,4,5]
for i in l:
    if i <= 6:
        print('this is a example of for loop')

this is a example of for loop
this is a example of for loop
this is a example of for loop
this is a example of for loop
this is a example of for loop

In [60]:
# while loop

n=1

while n<= 5:
    print("example of while loop")
    n=n+1

example of while loop
example of while loop
example of while loop
example of while loop
example of while loop

answer 2

In [61]:
# sum of first ten natural number using while loop
natural_no = 1
result=0

while natural_no <=10:
    result=result+natural_no
    natural_no = natural_no +1
    
print(result)

55

In [62]:
# sum of first ten natural number using for loop

l=[1,2,3,4,5,6,7,8,9,10]
n =0
for i in l:
    n=n+i
    i=i+1
print(n)

55

In [63]:
#product of first ten natural number using while loop

natural_no = 1
result=1

while natural_no <=10:
    result=result*natural_no
    natural_no = natural_no +1
    
print(result)

3628800

In [64]:
# product of first ten natural number using for loop

l=[1,2,3,4,5,6,7,8,9,10]
n =1
for i in l:
    n=n*i
    i=i+1
print(n)

3628800

answer 3

In [66]:
unit_consume=int(input("Enter your electricity unit consumed in a month "))
amount=0

while unit_consume>0:
    if unit_consume <=100:
        amount=amount+(unit_consume*4.5)
        unit_consume=0
    elif unit_consume<=200:
        amount=amount+100*4.5
        unit_consume=unit_consume-100
        amount=amount+(unit_consume*6)
        unit_consume=0
    elif unit_consume<=300:
        amount=amount+100*4.5
        amount=amount+100*6
        unit_consume=unit_consume-200
        amount=amount+(unit_consume*10)
        unit_consume=0
    else:
        amount=100*4.5
        amount=amount+100*6
        amount=amount+100*10
        unit_consume=unit_consume-300
        amount=amount+unit_consume*20
        unit_consume=0
        
print( "electricity bill = " , amount)

Enter your electricity unit consumed in a month  310

electricity bill =  2250.0

answer 4

In [80]:
# using for loop
l=[]
k=[]
for i in range(1,100):
    i=i**3
    l.append(i)
for j in l:   
    if j%4 and j%5 == 0:
        k.append(j)      
print(k)

[125, 3375, 15625, 42875, 91125, 166375, 274625, 421875, 614125, 857375]

In [81]:
#using while loop
l=[]
k=[]

n=1
m=100

while n<=m:
    z=n**3
    l.append(z)
    n=n+1

In [90]:
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [91]:
if i%4 and i%5 == 0 in l:
    k.append(i)

In [92]:
print(k)

[]

answer 5

In [85]:
count=0
string = "i want to become a data scientist"
vowels=['a','e','i','o','u']
for char in string:
    if char.lower() in vowels:
        count=count+1

In [86]:
count

12