Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [30]:
import pandas as pd

In [36]:
df=pd.DataFrame({
"study_time":[5,7,9,2,6,2,9,7,3,0],
"final_marks":[75,85,99,38,65,33,95,80,50,12]
})
df.corr(method='pearson')

             study_time  final_marks
study_time     1.000000     0.979947
final_marks    0.979947     1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [35]:
df=pd.DataFrame({
"sleep hours":[5,7,8,5,6,8,9,7,6,7],
"job satisfaction level":[6,8,9,5,6,8,10,8,8,6]
})
df.corr(method='pearson')

                        sleep hours  job satisfaction level
sleep hours                1.000000                0.845222
job satisfaction level     0.845222                1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [40]:
import numpy as np
import pandas as pd


np.random.seed(0)
exercise_hours = np.random.randint(1, 11, size=50)
bmi = np.random.uniform(18, 35, size=50)
data = pd.DataFrame({'Exercise_Hours': exercise_hours, 'BMI': bmi})
df=pd.DataFrame(data)
df.corr(method="pearson")

                Exercise_Hours       BMI
Exercise_Hours        1.000000  0.125812
BMI                   0.125812  1.000000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [48]:
import numpy as np
import pandas as pd

np.random.seed(0)
watching_television=np.random.randint(0,5,size=50)
physical_activity=np.random.randint(1,10,size=50)
df=pd.DataFrame({"watching tv":watching_television,"physical activity":physical_activity})
df.corr(method='pearson')

                   watching tv  physical activity
watching tv           1.000000           0.078818
physical activity     0.078818           1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:


25 =                           Coke,
42  =                          Pepsi,
37   =                         Mountain dew,
19    =                        Coke,
31      =                      Pepsi,
28     =                       Coke,

In [53]:
import numpy as np
import pandas as pd

coke=1
pepsi=2
mountain_dew=3

df=pd.DataFrame({
    "age":[25,42,37,19,31,28],
    "soft drink brand":[coke,pepsi,mountain_dew,coke,pepsi,coke]
})
df.corr(method="pearson")

                       age  soft drink brand
age               1.000000          0.758704
soft drink brand  0.758704          1.000000

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [56]:
import numpy as np 
import pandas as pd

np.random.seed(0)
sales_call=np.random.randint(1,100,size=30)
sales_per_day=np.random.randint(1,100,size=30)
df=pd.DataFrame({"sales call":sales_call,"sales per day":sales_per_day})
df.corr(method=)